.preview{
  background-image: url('../../assets/tv.jpg');
  width: 1630px;
  height: 1630px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  transform-origin: 0 0;
}
